html,
body {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
}

body {
  scroll-behavior: auto;
}
